<%= simple_form_for @instance, url: diagnostic_instances_url(@diagnostic), method: :post do |f| %>
  <div class="row">
    <div class="col">
      <%= f.association :node, collection: (@algorithm.nodes.where.not(id: @diagnostic.components.select(:node_id)) + FinalDiagnostic.where(diagnostic_id: params[:id])).flatten.sort_by(&:reference), label_method: :reference_label, prompt: t('select'), label: false %>
    </div>
    <div class="col">
      <%= f.submit t('add'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
