<h1><%= t('.title', name: @diagnostic.label) %></h1>



    <div class="docs-preview-wrapper">
      <%= react_component('Diagram', {
        diagnostic: @diagnostic.generate_questions_order.as_json(include: [conditions: { include: [first_conditionable: { include: [:node] }] }, node: { include: [:answers] }]),
        finalDiagnostics: @diagnostic.final_diagnostics.as_json(include: [instances: { include: [conditions: { include: [first_conditionable: { include: [:node] }, second_conditionable: { include: [:node] }] }] }]),
        healthCares: @diagnostic.treatment_instances.as_json(include: [ :node, conditions: { include: [first_conditionable: { include: [node: { include: [:answers]}]}]}]) + @diagnostic.management_instances.as_json(include: [ :node, conditions: { include: [first_conditionable: { include: [:node]}]}]),
      }) %>
    </div>
    <hr/>
    <%= render 'diagram' %>
</div>



