<p class="mx-0 my-0 metadata" data-type="Question" data-algorithm="<%= @algorithm.id %>" data-question="<%= @question.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/QuestionForm/stepper', { question: @question, method: 'create', from: 'rails' }) %>
  </div>
</div>
