<h2><%= t('versions.show.subtitle_diagnoses') %></h2>
<%= link_to new_algorithm_version_diagnosis_url(@algorithm, @version) do %>
  <button type="button" class="btn btn-outline-primary"><%= t('add') %></button>
<% end %>

<%= react_component('lists/index',
  {
    list: @version.diagnoses.includes(:node).as_json(include: {node: {methods: :reference_label}}, methods: :reference_label),
    title: 'reference_label',
    description: 'node.reference_label',
    metadata: [

    ],
    show: algorithm_version_diagnosis_url(@algorithm.id, @version.id, 0),
    actions: {
      diagram: true,
      edit: true,
      duplicate: true,
      archive: false,
      delete: true
    }
  })
%>
