<table class="table table-condensed table-hover" id="final_diagnosis_exclusion-datatable" data-source="<%= final_diagnoses_exclusions_algorithm_version_url(@algorithm, @version, format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.excluding_diagnosis') %></th>
      <th><%= t('.columns.excluded_diagnosis') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
