<% if node.dependencies.present? || node.diagnoses.present? %>
  <div class="justify-content-center">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-danger" role="alert">
        <%= t('warning_dependency') %>
        <ul>
          <% node.dependencies.each do |dependence| %>
            <li><b><%= "#{dependence.instanceable.full_reference} - #{dependence.instanceable.label}" %></b></li>
          <% end %>
          <% node.diagnoses.each do |diagnosis| %>
            <li><b><%= "#{diagnosis.full_reference} - #{diagnosis.label}" %></b></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
