<% if node.dependencies.present? || node.diagnoses.present? %>
  <div class="justify-content-center">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-danger warning_dependencies" role="alert">
        <%= t('warning_dependency') %>
        <% node.dependencies_by_version.each do |index, category| %>
          <br />
          <h5><%= category['title'] %></h5>
          <ul>
            <% category['dependencies'].each do |dependence|  %>
              <%= link_to dependence[:url] do %>
                <li><b><%= dependence[:label] %></b></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
