<ul class="list-group">
  <% Language.all.each do |language| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= "#{language.name} (#{language.code})" %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), language_url(language), method: :delete, class: 'btn btn-outline-danger', data: {confirm: 'Are you sure?'}) %></div>
      </div>
    </li>
  <% end %>
</ul>
