<h1><%= t('.title') %></h1>
<%= link_to new_algorithm_url do %>
  <button type="button" class="btn btn-outline-primary"><%= t('add') %></button>
<% end %>

<%= react_component('lists/index',
  {
    list: Algorithm.all.includes(:versions).as_json(methods: [:display_archive_status, :display_versions_badges]),
    title: 'name',
    description: 'description',
    metadata: %w(display_archive_status display_versions_badges),
    show: algorithm_url(0),
    actions: {
      diagram: false,
      edit: true,
      duplicate: false,
      archive: true,
      delete: false
    }
  })
%>
