<h1><%= t('.title') %></h1>

<%= render 'utils/dependency_warning', node: @questions_sequence %>

<p class="mx-0 my-0 metadata" data-algorithm="<%= @algorithm.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/QuestionsSequenceForm', { questionsSequence: @questions_sequence.as_json(include: [:complaint_categories], methods: [:type]), method: 'update', is_deployed: @questions_sequence.used_in_deployed_version, from: 'rails' }) %>
  </div>
</div>
