<p class="mx-0 my-0 metadata" data-version="<%= @version.id %>" data-algorithm="<%= @version.algorithm.id %>"></p>
<%= react_component('form/components/VersionComponents',
                    {
                      selected: @version.components.map(&:node_id),
                      questions: @version.instanceable_questions,
                      disabled: @version.in_prod
                    }) %>
