<!--<div class="row">-->
<!--  <div class="col-md-6">-->
<!--    <ul id="systems-order" class="triage-order">-->
<%# @version.medal_r_config['systems_order'].each do |value| %>
<!--        <li class="ui-state-default" value=<%#= value %>>-->
<!--          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%#= t("questions.systems.#{value}") %>-->
<!--        </li>-->
<%# end %>
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<p class="mx-0 my-0 metadata" data-version="<%= @version.id %>" data-algorithm="<%= @version.algorithm.id %>"></p>
<%= react_component('form/components/VersionOrders',
                    {
                      tree: @version.full_order_json,
                      selected: @version.extract_nodes_from_version.map(&:id),
                      disabled: @version.is_deployed?
                    }) %>
