<h3><%= t('algorithms.show.subtitle_versions') %></h3>

<%= link_to new_algorithm_version_url(@algorithm) do %>
  <button type="button" class="btn btn-outline-primary"><%= t('add') %></button>
<% end %>

<%= react_component('lists/index',
  {
    list: @algorithm.versions.as_json(methods: :display_archive_status),
    title: 'name',
    description: 'description_translations.en',
    metadata: [
      'display_archive_status'
    ],
    show: algorithm_version_url(@algorithm.id, 0),
    actions: {
      diagram: false,
      edit: true,
      duplicate: false, # TODO : Put true back when duplicate is fixed
      archive: true,
      delete: false
    }
  })
%>
