<div class="row">
  <% @version.questions_orders.each do |key, value| %>
    <div class="col-md-6">
      <h3><%= t("questions.categories.#{key}.label") %></h3>
      <ul id=<%= "#{key}" %> class="triage-order">
        <% value.each do |instance_id| %>
          <% instance = Instance.find(instance_id) %>
          <li class="ui-state-default" value=<%= instance_id %>><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= instance.node_label %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
