.liwi-sidebar {
  background-color: #343434;
  overflow-x: hidden;
  overflow-y: auto;
  height:95vh;

  .card {
    background-color: #343434;
    .card-body{
      background-color: #d0d0d0;
      padding: 5px;
    }

    button {
      color: #d2d2d2;
      padding: 0.75rem 1.25rem;
      width: 100%;
      text-align: left;
    }
  }
}
.diagram-wrapper{
  background-color: #e6e6e6;
}

.docs-preview-wrapper {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.srd-canvas {
  height: 95vh;
}

.srd-default-node {
  background-color: transparent;
  border-radius: 5px;
  font-family: sans-serif;
  color: black;
  border: 0;
  overflow: visible;
  font-size: 11px;
}

.srd-default-node__name {
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  min-width: 150px;
}

.srd-default-node__ports {
  margin: 2px;
}

.srd-default-node:hover {
  cursor: pointer;
}

.and {
  .srd-node & {
    min-width: 30px !important;
    max-width: 30px !important;
  }
}

.srd-default-link path {
  stroke: black;
}

.separator-link {
  stroke-dasharray: 15;
}

.node-titles {
  color: black;
  background-image: none;
}

.node-titles .srd-default-node__ports {
  background-image: none;
}

.srd-default-node__ports {
  font-size: 9pt;
  margin: 0;
}

.srd-default-port {
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: normal;
  text-align: center;
}

.srd-port {
  font-weight: bold;
}

.name {
  padding-right: 5px;
}

// Node diagram display
.node {
  cursor: pointer;
  background-color: #fff;
  font-size: 10px;
  color: #fff;
  border: 1px solid gray;
  .srd-node & {
    min-width: 120px;
  }
}

.node-category {
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}

.node-label {
  display: flex;
  color: #000;
  font-size: 14px;
}

.node-answers {
  display: flex;
  color: #000;
  border-top: 1px solid gray;
  font-size: 12px;
  .answer-split {
    border-right: 1px solid gray;
    height: 100%;
  }
  div:last-child .answer-split {
    border-right: none;
  }
}

.srd-port {
  position: absolute;
  z-index: 10;
  top: -8px;
}

.out-port {
  background-color: lightgreen;
  width: 18px;
  height: 12px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  border: 2px solid #808080;
  &:hover {
    background-color: green;
  }
}

.in-port {
  height: 10px;
  width: 18px;
  background-color: deepskyblue;
  top: -10px;
  border: 2px solid #808080;
  &:hover {
    background-color: dodgerblue;
  }
}

.inExcluded {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: cadetblue;
  top: 50%;
  bottom: 50%;
  right: -10px;
  &:hover {
    background-color: steelblue;
  }
}

.outExcluded {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: lightgreen;
  top: 50%;
  bottom: 50%;
  left: -10px;
  border-radius: 10px;
  &:hover {
    background-color: green;
  }
}

.condition-container {
  text-align: center
}


// FLASH MESSAGES REACT
.alerts-leave {
  opacity: 1;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  height: 50px;
}
.alerts-leave.alerts-leave-active {
  overflow: hidden;
  opacity: 0.01;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 0;
  transition: opacity 300ms ease-in,
  padding-top 500ms ease-in,
  padding-bottom 500ms ease-in,
  margin-bottom 500ms ease-in,
  height 500ms ease-in;
}

.dropdown-toggle::after {
  right: 9px!important;
}
