<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Liwi</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="#">Users</a>
    </li>
    <li>
      <a href="#">Groups</a>
    </li>
  </ul>
</nav>
