<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>

<body>
<main role="main" class="container-fluid">
  <%= render 'layouts/modal' %>


  <%= yield %>

</main>
</body>

<%= render 'layouts/footer' %>
</html>
