<h1><%= t('.title') %></h1>

<%= render 'utils/dependency_warning', node: @management %>

<p class="mx-0 my-0 metadata" data-algorithm="<%= @algorithm.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/ManagementForm', { management: @management, method: 'update', from: 'rails' }) %>
  </div>
</div>
